<!-- about-hotel.component.html -->
<div class="about-container">
    <div class="about-content">
        <div class="about-image">
            <img src="../../assets/images/dog-with-goldfish-daryll.jpg" alt="Hotel Image">
        </div>
        <div class="about-text">
            <h2>Welcome to TechDek Hotel</h2>
            <p>
            At TechDek Hotel, we understand that pets are part of the family,
            and we're dedicated to providing a comfortable stay for both you and your furry friends.
            Our hotel offers a range of amenities designed specifically for pets, ensuring they feel right at home.
            </p>
            <p>
            Whether you're traveling for business or pleasure, you can relax knowing that your pet
            will receive the best care during their stay with us. From spacious pet-friendly rooms
            to on-site pet grooming services, we've got everything covered.
            </p>
            <p>
            Contact us today to book your pet's next stay at TechDek Hotel.
            We can't wait to welcome you and your beloved pet!
            </p>
            <p>
            Our dedicated staff is available 24/7 to assist you and your pet's needs. 
            Feel free to reach out to us with any special requests or questions.
            </p>
            <p>
            Join our loyalty program and enjoy exclusive perks and discounts on your pet's stays.
            Your pet deserves the best, and we're here to provide it!
            </p>
        </div>
    </div>
</div>
  
  