<!-- app.component.html -->

<!-- app.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="landing-page">
    <header class="header">
      <div class="container">
        <h1>Welcome to TechDek Hotel</h1>
        <p>Your pet's home away from home</p>
        <a routerLink="/about" class="btn btn-primary">Explore Our Services</a>
      </div>
    </header>
  
    <section class="features">
        <h2 style="text-align: center;">Why Choose TechDek Hotel?</h2>
        <div class="container">      
          <!-- Individual feature parts -->
          <div class="feature">
            <div class="box-container">
              <div class="icon">
                <i class="fas fa-paw"></i>
              </div>
              <div class="content">
                <p>Comfortable accommodations for your furry friend</p>
                <img src="../../assets/images/1.jpg" alt="Comfortable accommodations image">
              </div>
            </div>
          </div>
      
          <div class="feature">
            <div class="box-container">
              <div class="icon">
                <i class="fas fa-bone"></i>
              </div>
              <div class="content">
                <p>Delicious and nutritious meals prepared with care</p>
                <img src="../../assets/images/dog-eat.png" alt="Delicious meals image">
              </div>
            </div>
          </div>
      
          <div class="feature">
            <div class="box-container">
              <div class="icon">
                <i class="fas fa-tree"></i>
              </div>
              <div class="content">
                <p>Spacious outdoor play areas for exercise and fun</p>
                <img src="../../assets/images/dog-play.png" alt="Spacious play areas image">
              </div>
            </div>
          </div>
          <!-- End of individual feature parts -->
          
        </div>
      </section>
      
      
      
      
  
  

